<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anuj.signin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SignIn">
        <activity
            android:name=".ProgressExerciseSelector"
            android:exported="false" />
        <activity
            android:name=".WeightProgress"
            android:exported="false" />
        <activity
            android:name=".WorkoutProgress"
            android:exported="false" />
        <activity
            android:name=".Progress"
            android:exported="false" />
        <activity
            android:name=".TrackSetClass"
            android:exported="false" />
        <activity
            android:name=".TrackSets"
            android:exported="false" />
        <activity
            android:name=".LogWeight"
            android:exported="false" />
        <activity
            android:name=".Splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".user_register_activity"
            android:exported="false" />
        <activity
            android:name=".PullActivity"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="true" />
    </application>

</manifest>